html,
body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height: 1.5;
}

body {
  width: 100%;
  height: 100vh;
  background: url('assets/freedom.jpg') no-repeat center;
  background-size: cover;
  color: #333;
}

.wrapper {
  padding-top: 4rem;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.quote {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 2.5rem;
}

.author {
  font-family: 'Crimson Text', serif;
  font-size: 1.5rem;
  font-style: italic;
}

nav {
  position: fixed;
  bottom: 0;
  right: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  float: left;
  }

nav a {
  float: left;
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px;
  font-weight:500;
  font-family: 'Crimson Text', serif;
  font-size: 0.8rem;
}

nav a:hover {
  background: #ddd;
  color: black;
}

@media screen and (max-width: 600px) {
  nav ul li {
    float: none;
    }

  nav a {
    display: inline-block;
    padding: 0;
    font-weight: lighter;
    font-size: 0.6rem;
    padding-right: 5px;
    padding-top: 5px;
    }

  body {
    background: url('assets/freedom-mobile.jpg') no-repeat center;
    }

  .quote {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.5rem;
  }

  .author {
    font-family: 'Crimson Text', serif;
    font-size: 0.8rem;
    font-style: italic;
    color: white;

  }
}
